<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="styleland.css">
    <title>Schealdule</title>
</head>
<body>
    <div class="divbg">
        <img class="bg" src="bg.png">
    </div>
    <section>
        <div class="HomemComputador"><img src="HomemComputador.png"></div>
        <header>
            <a href="#"><img src="logo.png" alt="" class="logo"></a>
            <nav class="navegation">
                <ul>
                    <li><a href="#infosancora">Sobre</a></li>
                    <li><a href="#planosancora">Serviços</a></li>
                    <li><a href="#" id="index">Entrar</a></li>
                </ul>
            </nav>
        </header>
        <div class="content">
            <div class="text">
                <h2>Descubra O Que O Schealdule Tem A Oferecer<br></h2>
                <p>O calendário mais funcional para<br>organização de horários de seus clientes.</p>
                <a href="#planosancora">SEJA CLIENTE</a>
                <a href="#videoancora">SAIBA MAIS</a>
            </div>
        </div>
    </section>
    <div class="boxImg">
        <img src="SchealduleTH.png" alt="" class="Schealdule">
    </div>
    <nav class="navegationlingua">
        <ul>
            <li><a id="videoancora"><img class="imgen" src="en.png" onclick="mudavideo2()"></a></li>
            <li><a><img class="imgpt" src="br.png" onclick="mudavideo1()"></a></li>
        </ul>
    </nav>
    <div class="video">
        <iframe id="videopt" src="https://www.youtube.com/embed/U4_TsXL8VxA?si=q9mWcLFJ_wZX1jfO"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" width="640" height="360" allowfullscreen></iframe>
        <iframe style="display:none" id="videoen" src="https://www.youtube.com/embed/pR8Y1MkSz9Y?si=hzXlf9JmS5tREseJ"  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" width="640" height="360" allowfullscreen></iframe>
    </div>
    <div id="infosancora" class="infos1">
        <hr class="linha1" color="#21D0C3" size="10px">
        <div class="imgetexto">
            <div><img class="estetoscopio" src="estetoscopio.png"></div>
            <div class="content2">
                <div class="text2">
                    <p>Agende nesse momento<br></p>
                    <h2>Com Facilidade, Simplicidade e Rapidez</h2>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footerdiv">
            <a href="#"><img src="logo.png" alt="" class="logofooter"></a>
            <h1>Contatos</h1>
            <nav class="navegationfooter">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Seja Cliente</a></li>
                    <li><a href="#">Saiba Mais</a></li>
                </ul>
                <ul>
                    <li><a href="#">Email</a></li>
                    <li><a href="#">Instagram</a></li>
                    <li><a href="#">Whatsapp</a></li>
                    <li><a href="#">Twitter Mais</a></li>
                </ul>
            </nav>
        </div>
    </footer>
</body>
<script th:src="functions.js"></script>
</html>